<p id="notice"><%= notice %></p>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- end of bootstrap  -->

<div class="row col-sm-12 text-center">
<h1>Animal Sightings</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Region</th>
      <th>Animal</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @sightings.each do |sighting| %>
      <tr>
        <td><%= sighting.date %></td>
        <td><%= sighting.time %></td>
        <td><%= sighting.latitude %></td>
        <td><%= sighting.longitude %></td>
        <td><%= sighting.region %></td>
        <td><%= sighting.animal.common_name %></td>
        <td><%= link_to 'Show', sighting %></td>
        <td><%= link_to 'Edit', edit_sighting_path(sighting) %></td>
        <td><%= link_to 'Destroy', sighting, method: :delete, data: { confirm: 'Are you sure you want to destroy this animal?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<div class="row col-sm-12 text-center">
  <form action="/sightings" method="get">
    <label for="start_date">Start date</label>
    <input id="start_date" name="start_date" type="date">
    <label for="end_date">End date</label>
    <input id="end_date" name="end_date" type="date">
    <div class="field">
    <%= select_tag("region", options_for_select([['north', 'north'],['south', 'south'],['east', 'east'],['west', 'west']])) %>
    </div>
    <br>
    <button>Run report</button>
  </form>
</div>
<hr>

<div class="row col-sm-12 text-center">
  <br>
<button type="button"><%= link_to 'New Sighting', new_sighting_path %></button>

<div id="calendar"></div>

<hr>
<button type="button"><a href="http://localhost:3000/animals">Home</a></button>
</div>
