<ul>
  <li>Date: <%= sighting.date %></li>
  <li>Time: <%= sighting.time %></li>
  <li>Longitude: <%= sighting.longitude %></li>
  <li>Latitude: <%= sighting.latitude %></li>
  <li>Region: <%= sighting.region %></li>

</ul>
<hr>
